* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

nav {
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
}

nav ul {}

nav li {
    display: inline;
    list-style-type: none;
    margin: 10px 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: darkgreen;
    color: wheat;
}

.container {
    width: 50%;
    height: 350px;
    background-color: green;
    margin: 70px auto;
    color: yellow;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.h {
    margin: 15px 0px;
}

.items {
    display: flex;
    margin: 60px auto;
}

label {
    font-size: 30px;
}

input {
    height: 70px;
    width: 130px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 40px;
}